.home-testimonial-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;min-height: 85vh;
  flex-grow: 1;
  font-family: Arial, sans-serif;padding: 20px;
}

.home-testimonial-title {
  font-size: 22px;
  font-weight:600;
  margin-bottom: 20px;
}

.home-testimonial {
  margin-top: 20px;
}

.home-testimonial-description {
  padding: 15px;
  color: rgb(0, 0, 0);
  margin: 0px 0px 10px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  background: rgb(213, 248, 228);
  border: 1px solid rgb(91, 228, 168);
  
  border-radius: 4px;
  box-shadow: 0 4px 6px rgb(213, 248, 228);
  padding: 20px;
  margin: 20px 0;
}

.home-testimonial-dots {
  margin-top: 0px;
  margin-bottom: 20px;
}

.home-testimonial-dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background: rgb(213, 248, 228);
  border-radius: 50%;
  display: inline-block;
}

.home-testimonial-dot.active {
  background: rgb(91, 228, 168);
}

.home-testimonial-image {
  width:80vw;
  animation: bounceShake 2s infinite ease-in-out;
}

@keyframes bounceShake {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  20% {
    transform: translateY(-10px) rotate(2deg);
  }
  40% {
    transform: translateY(0) rotate(-2deg);
  }
  60% {
    transform: translateY(-5px) rotate(1deg);
  }
  80% {
    transform: translateY(0) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.home-testimonial-image:hover {
  animation-play-state: paused;
}