#productSearchPage-container-top {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#productSearchPage-container-top ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}







#home-footer-1 {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    background: #f9f9f9;
    position: fixed;
    bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 100;
    box-shadow: 0 4px 6px rgb(242, 255, 247);
    box-shadow: rgb(231, 252, 240) 0px 8px 24px;
}

.home-footer-div {
    width: 65px;
    height: 75px;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}

.home-footer-div-icon {
    background-color: rgb(213, 248, 228);
    border-radius: 10px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-footer-div-label {
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}