
#productSearchPage-container-top {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
#productSearchPage-container-top ::-webkit-scrollbar{
    width: 0px;height: 0px;
}






