


.how-it-works-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;margin-top: 60px;
    margin-bottom: 15vh;
    font-family: Arial, sans-serif;
  }
  
  .how-it-works-container p {
    color: #333;text-align: center;font-size: 23px;font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .steps-container {
    display: flex;gap: 10px;
    flex-direction: column;margin-top: 25px;
  }
  
  .step-card {
    border-radius: 3px;
    height: 150px;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.043);
    background-color: rgb(255, 255, 255);align-items: center;
    text-align: center;border: 1px solid rgba(0, 0, 0, 0.094);gap: 17px;
  }
  
  .step-card img {
    width: 30%;
  }
  
  
  
  .step-card-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
  
  }
  
  .step-card-1-1 {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    color: #000000;
  }
  
  .step-card-1-2{
    font-size: 10px;
    max-width: 90%;text-align: start;
    line-height: 15px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .step-icon {
    width: 50px;
    height: auto;
    margin: 0 auto;
  }