#shopSearchPage-container {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
#shopSearchPage-container-top {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#shopSearchPage-header {
    display: flex;
    align-self: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.21);
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 96%;
    height: 49px;
}

#shopSearchPage-header-input:-webkit-autofill,
#shopSearchPage-header-input:-webkit-autofill:hover,
#shopSearchPage-header-input:-webkit-autofill:focus {
    background-color: white !important;
    color: rgb(0, 0, 0) !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
}
#shopSearchPage-header-input::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
/* General input styling */
#shopSearchPage-header-input {
    border: none;
    color: rgba(0, 0, 0, 0.546);
    font-size: 12px;
    padding-left: 10px;
    flex-grow: 1; /* Allow input to grow */
    outline: none;
    background-color: white;
}

#shopSearchPage-header-icon {
    font-size: 29px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.546);
}






#searchShopPage-footer {
    width: 100vh;
    display: flex;background-color: white;
    color: black;
    height: 60px;
    position: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 0;
    z-index: 2;
}

#searchShopPage-footer-sortby,
#searchShopPage-footer-filterby {
    display: flex;
    width: 50vw;color: white;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}
#searchShopPage-footer-sortby{color: black;}
#searchShopPage-footer-filterby  {
    display: flex;background-color:  #f27aa6;}


#filter-category-options {
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchShopPage-footer-filterby-div{
    background-color: rgba(255, 255, 255, 0.941);
    height: 41px;display: flex;width: 90vw;
    align-self: center;
    align-items: center;padding-left: 10px;gap: 10px;
    border-radius: 10px;font-size: 13px;
    color: rgb(255, 255, 255);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;border: 1px solid rgba(0, 0, 0, 0.203);
}
.searchShopPage-footer-filterby-input{
    outline: none;border: none;
}
.searchShopPage-footer-filterby-input::placeholder{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

/* shop results */
#shopResults{
    margin-top: 120px;margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
/* No shop found */
.search-no-shop-found{
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    height: 50vh;
}

#shop-page-filter-by-options{
    display: flex;
    margin-top: 20px;
    padding: 9px;justify-content: center;align-items: center;
    gap: 10px;flex-wrap: wrap;
}
.shop-selected-category {
    padding: 10px;
    border: 1.8px solid rgb(155, 255, 4);border-radius: 20px;
}
.shop-unselected-category {
    padding: 10px;
    border: 1.8px solid rgb(0, 0, 0);border-radius: 20px;
}











#filter-section-shop-page {
    height: 60px;
    width: 100vw;
    display: flex;
    color: rgba(0, 0, 0, 0.655);
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 700;
}







/* sort by */
#sort-by-options-shop-page{
    display: flex;
    flex-wrap: wrap;justify-content: center;align-items: center;
    gap: 5px;
    margin-top: 20px;
}
#shop-unselected-sort-by{
   
    padding: 10px;width: 90px;
    display: flex;justify-content: center;align-items: center;
    border: 1.8px solid rgb(0, 0, 0);
    border-radius: 20px;
}














#search-shop-grid{
    min-height: 80vh;overflow: scroll;margin-top: 100px;
    padding-bottom: 97px;background-color: #ffffff;color: rgb(0, 0, 0);
}
#search-shop-load-more-shop-loader{
    padding-bottom: 67px;
    display: flex;justify-content: center;align-items: center;
}