.user-update-book-module-header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100vw;
}

.user-update-book-module-header-left-icon {
    margin-left: 4px;
    color: #000;
}

.user-update-book-module-header-inner-div {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.user-update-book-module-header-inner-div-p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.user-update-book-module-header-inner-div-phn-div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-top: -7px;
}












/* type */
.user-update-book-module-type {
    margin-top: 6.25rem;
    /* 100px */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    /* 50px */
    gap: 0.3125rem;
    /* 5px */
}

.user-update-book-module-type-book,
.user-update-book-module-type-module {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 5.625rem;
    /* 90px */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    /* 10px */
    border: 1.4px solid rgb(0, 0, 0);
    /* 1px */
}

.user-update-book-module-type-book.active,
.user-update-book-module-type-module.active {
    background-color: #000;
    color: white;
}














.user-refurbished-product-book-module-update-form {
    margin-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    gap: 0.3125rem;
    overflow-y: scroll;
}

.user-refurbished-product-book-module-update-form-class,
.user-refurbished-product-book-module-update-form-subject,
.user-refurbished-product-book-module-update-form-language {
    height:50px;
    border: 2px solid rgba(0, 0, 0, 0.142);
    display: flex;
    align-items: center;justify-content: center;
    width: fit-content;
    width: 50px;
    border-radius: 50%;
    /* 10px */
}
.user-refurbished-product-book-module-update-form-class.active,
.user-refurbished-product-book-module-update-form-subject.active,
.user-refurbished-product-book-module-update-form-language.active {
    border: 2.2px solid rgba(0, 202, 84, 0.918);
}





/* Title, Description */
.user-refurbished-product-title-description-div,
.user-refurbished-product-price-discounted-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0px 40px 0px;
}

.user-refurbished-product-book-module-update-form-textarea {
    height: 45px;
    border: 1.8px solid black;
    background-color: #fffbfb;
    display: flex;
    align-items: center;
    width: 85vw;
    max-width: 85vw;
    padding: 10px;
    border-radius: 10px;
}

.user-refurbished-product-book-module-update-form-textarea::placeholder {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}


/*image*/
.user-refurbished-product-book-module-update-form-image-section {
    display: flex;
    width: 90vw;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
}

.user-refurbished-product-book-module-update-form-image-container {
    width: 30vw;
    height: 100px;
    display: flex;background-color: rgb(0, 0, 0);
    justify-content: center;
    border: 1.8px solid rgb(255, 255, 255);border-radius: 10px;
    align-items: center;
}

.user-refurbished-product-book-module-update-form-image-placeholder{
    color: #fffbfb;
}















/*image*/
.user-refurbished-product-book-module-update-form-image-section {
    display: flex;
    width: 90vw;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
}

.user-refurbished-product-book-module-update-form-image-container {
    max-width: 30vw;
    height: 100px;
    display: flex;background-color: rgb(0, 0, 0);
    justify-content: center;
    border: 1.8px solid rgb(0, 0, 0);border-radius: 10px;
    align-items: center;
}

.user-refurbished-product-book-module-update-form-uploaded-image {
    max-width: 30vw;border-radius: 10px;
    height: 100px;display: flex;overflow: hidden;
}








#user-refurbished-book-product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;gap: 15px;
    margin-top: 10vh;
}

#user-refurbished-book-product-update,
#user-refurbished-book-product-delete {
    padding: 13px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1px;
    border: none;
}

#user-refurbished-book-product-update {
    border:1.8px solid #56f436; /* Red for delete */
    color: rgb(0, 0, 0);
}

#user-refurbished-book-product-delete {
    border:1.8px solid #f44336; /* Red for delete */
    color: rgb(0, 0, 0);
}


















































/*confirmation poopup*/
/* Common Popup Styles */
.user-refurbished-book-module-delete-popup,
.user-refurbished-book-module-update-popup {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1b1818e5;
    height: 100vh;
    
    z-index: 20000;
}

/* Inner Container */
.user-refurbished-book-module-delete-popup-inner,
.user-refurbished-book-module-update-popup-inner {
    background-color: #fff;
    border-radius: 10px;
    width: 85vw;
    max-height: 150px;
}

/* Message Styling */
.user-refurbished-book-module-delete-popup-message,
.user-refurbished-book-module-update-popup-message {
    display: flex;
    justify-content: center;padding: 10px;
    align-items: center;
    height: 40%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Options Container */
.user-refurbished-book-module-delete-popup-options,
.user-refurbished-book-module-update-popup-options {
    display: flex;justify-content: space-evenly;
    height: 68px;align-items: center;
    color: green;
}
/* "Yes" Button */
.user-refurbished-book-module-delete-popup-option-yes,
.user-refurbished-book-module-update-popup-option-yes{
    color: #f44336;
}






















/*success*/
/* Common Styles for Pop-Up Container */
.user-refurbished-book-module-success-popup ,
.user-refurbished-book-module-fail-popup {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1b1818e5;
    height: 100vh;
    
    z-index: 20000;
}

/* Common Styles for Pop-Up Inner Div */
.user-refurbished-book-module-success-popup-inner ,
.user-refurbished-book-module-fail-popup-inner{
    background-color: #fff;
    border-radius: 10px;
    width: 85vw;
    max-height: 150px;
}

/* Common Styles for Pop-Up Statement Text */
.user-refurbished-book-module-success-popup-message,
.user-refurbished-book-module-fail-popup-message {
    display: flex;
    justify-content: center;padding: 10px;
    align-items: center;
    height: 40%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Specific Colors for Action Confirmation */
.user-refurbished-book-module-success-popup-ok {
    display: flex;justify-content: center;
    height: 68px;align-items: center;
    color: green;
}

.user-refurbished-book-module-fail-popup-ok {
    display: flex;justify-content: center;
    height: 68px;align-items: center;
    color: rgb(252, 37, 37);
}