.search-page-product-card {
    color: black;
    width: 46vw;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 370px;
    max-height: 370px;
    margin-top: 10px;
    align-items: center;
    z-index: 3;
    overflow: hidden;position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.user-product-edit-button,
.search-page-product-card-bottom-stock {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 5px;
    font-size: 15px;
    min-height: 40px;
    max-height: 40px;
    width: calc(100% - 3.5px);
    margin-bottom: 7px;
}

.user-product-edit-button {
    color: rgb(76, 199, 45);
    border: 0.1px solid rgb(106, 232, 74);
}

.search-page-product-card-bottom-stock.instock {
    color: rgb(25, 148, 46);
    border:1.4px solid rgb(25, 148, 46);
}

.search-page-product-card-bottom-stock.outofstock {
    background-color: rgb(255, 255, 255);
    color: rgb(232, 74, 74);
    font-size: 13px;
    border: 0.1px solid palevioletred;
}

.search-page-product-card-top {
    min-height: 195px;
    max-height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.search-page-product-card-top-image {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.search-page-product-card-bottom {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    overflow: scroll;
}

.search-page-product-card-shop-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1;
}

.search-page-product-card-shop {
    font-size: 21px;
    margin-top: 19px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}
.search-page-discount-container {
    position: absolute;
    top: 0px;
    right: 0px;
    background: linear-gradient(135deg, rgb(83, 140, 238), rgb(83, 140, 238));
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    font-weight:300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 10;
    transition: transform 0.2s ease-in-out;
}

.search-page-discount-container:hover {
    transform: scale(1.1);
}
