#product-page-grid {
    display: flex;
    flex-wrap: wrap;gap: 10px;
    width: 100vw;
    justify-content: center;
    margin-top: 110px;
    padding-bottom: 77px;
    background-color: #f9f9f9;
    min-height: calc(100vh - 120px - 80px);

}

#product-page-grid::-webkit-scrollbar{
    width: 0px;height: 0px;
} 
