.retailer-login {
  background-color: #1A1A2E;
  height: 100vh;
  width: 100vw;
  color: white;
  position: fixed;
  top: 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.retailer-login-top-header {
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #1A1A2E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.639);
}
.retailer-login-back-arrow{
  position:absolute;left: 10px;
}





.retailer-signup-container-p {
  margin-top: 50px;
  width: 90vw;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.664);
}


.retailer-login-p {
  margin-top: 10vh;
  font-size: 20px;
}





.retailer-login-phone-input-container {
  display: flex;
  align-items: center;
  justify-content: center;border-radius: 7px;
  background-color: rgb(255, 255, 255);
  margin-top: 7px;
  width: 89vw;
}

.retailer-login-phone-input-container input {
  width: 100%;
  background-color: transparent;
  border-radius: 0 5px 5px 0;
  border-left: none;color: #1A1A2E;
  outline: none;
  font-size: 13px;border: none;
  height: 25px;
  font-weight: 500;
  padding: 10px;
}


.retailer-login-send-otp-button {
  background-color: rgb(3, 223, 193);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;justify-content: center;align-items: center;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 89vw;
  height: 50px;
}







.retailer-login-terms-text {
  font-size: 12px;
  padding: 10px;
  color: #999;
}

.retailer-login-terms-text a {
  color: rgb(3, 223, 193);
  text-decoration: none;
}

.retailer-login-terms-text a:hover {
  text-decoration: underline;
}























.retailer-login-div-parent {
  display: flex;
  gap: 10px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.retailer-login-div {
  padding: 10px;
  width: 80px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.retailer-login-register-div {
  padding: 10px;
  width: 80px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}






.retailer-login-img {
  margin-top: 37px;
  width: 65vw;
}

















.retailer-login-otp-verification{
  background-color: #1A1A2E;
  color: white;height: 100vh;
  display: flex;flex-direction: column;
  align-items: center;
}
.retailer-login-otp-verification-top-header{
  height: 60px;padding: 0px 10px 0px 10px;
  display: flex;justify-content:space-between;align-items:center;
  font-size: 19px;letter-spacing: 1px;
  width: calc(100vw - 20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.639);
}
.retailer-login-otp-verification-text{
  font-size: 25px;font-weight: 700;
  margin-top: 35px;
}
.retailer-login-otp-verification-text-p{
  margin-top: 30px;
}


.otp-inputs{
  display: flex;margin-top: 10px;gap: 5px;
  justify-content: center;align-items: center;
}
.otp-input{
  width: 40px;height: 40px;
  border-radius: 10px;background-color: #ffffff;
  border: none;font-size: 30px;display: flex;
  justify-content: center;align-items: center;
  text-align: center;border: 1px solid black;
}

.retailer-login-verify-otp-button{
  border: 2px solid rgb(91, 228, 168);
  color: rgb(255, 255, 255);background-color: #1A1A2E;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 40vw;
  height: 50px;
}





.retailer-login-resend-btn{
 color: rgb(3, 223, 193);background-color: transparent;
 border: none;
}