.shop-product-fallback-loading{
    display: flex;justify-content: center;align-items: center;
    background-color:  #ffffff;min-height: 100vh;
}

#retailer-product-page-grid {
    display: flex;
    flex-wrap: wrap;gap: 10px;
    width: 100vw;min-height:100vh;
    justify-content: center;
    position:relative;
    background-color: #ffffff;
    
    color: #000000;
    padding-bottom: 20px;padding-top: 110px;
}

.user-product-page-footer-p{
    background-color: rgb(247, 246, 246);
    text-align: center;
    padding-top: 40px;
    
 }

 .retailer-product-page-loading-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
 }