
.user-login-container {
  width: 100vw;position: fixed;top: 0;
  height: 100vh;padding: 10px;
  display: flex;
  overflow: hidden;
  background-color: #1A1A2E;
  padding: 0;
  margin: 0;
}

.signup-phn-container{
  margin: 0 auto;color: white;padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;flex-direction: column;
  align-items: center;flex-grow: 1;
  overflow: hidden;
  overflow: hidden;
}
.login-verification-top-header{
  height: 60px;width: 100vw;
  color: white;
  display: flex;
  justify-content:center;align-items:center;
  font-size: 25px;letter-spacing: 1px;font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.639);
}






.signup-container-text {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 700;
  margin-top: 35px;
}

.signup-container-text div {
  margin: 0;
  padding: 0;
}

.signup-container-p {
  margin-top: 50px;width: 90vw;
  font-size: 11px;
  color:rgba(255, 255, 255, 0.731);
}


.phone-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;width: 89vw;
  background-color: aliceblue;
  padding: 1px;
  border-radius: 5px;
}

.country-code {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 25px;
  padding: 10px;
  border-radius: 10px;
  border-right: none;
 
}

.flag-icon {
  width: 33px;
  height: 25px;
  margin-right: 8px;
}


.phone-input-container input {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;border: none;
  border-left: none;
  outline: none;
  font-size: 15px;
  height: 25px;font-weight: 900;
  padding: 2px;
}

.send-otp-button {
  background-color: #e91e63;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;justify-content: center;align-items: center;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 89vw;
  height: 50px;
}

.send-otp-button:hover {
  background-color: #d81b60;
}

.terms-text {
  font-size: 12px;
  color: #999;
}

.terms-text a {
  color: #e91e63;
  text-decoration: none;
}

.terms-text a:hover {
  text-decoration: underline;
}






.otp-verification{
  background-color: #1A1A2E;
  color: white;height: 100vh;
  display: flex;flex-direction: column;
  align-items: center;
}
.otp-verification-top-header{
  height: 60px;padding: 0px 10px 0px 10px;
  display: flex;justify-content:space-between;align-items:center;
  font-size: 19px;letter-spacing: 1px;
  width: calc(100vw - 20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.639);
}
.otp-verification-text-verify{
  font-size: 25px;font-weight: 700;
  margin-top: 35px;
}
.otp-verification-text-phn{
  font-size: 27px;font-weight: 700;
  margin-top: -10px;
}
.otp-verification-text-p{
  margin-top: 0px;
}


.otp-inputs{
  display: flex;margin-top: 10px;gap: 5px;
  justify-content: center;align-items: center;
}
.otp-input{
  width: 40px;height: 40px;
  border-radius: 10px;background-color: #ffffff;
  border: none;font-size: 30px;display: flex;
  justify-content: center;align-items: center;
  text-align: center;border: 1px solid black;
}

.verify-otp-button{
  background-color: #e91e63;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 40vw;
  height: 50px;
}

.resend-text{
  margin-top: 30px;
}
.resend-btn{
  color: #d81b60;
}