.retailer-update-header {
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100vw;
}

.retailer-update-header-left-icon {
    margin-left: 4px;
    color: #000000;
}

.retailer-update-header-inner-div {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.retailer-update-header-inner-div-p {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.retailer-update-header-inner-div-phn-div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-top: -7px;
}










