
/* FILTER OPTION */
.product-page-filter-section {
    width: 100vw;height: 100vh;
    position: fixed;top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;justify-content: flex-end;flex-direction: column;
    align-items: center;gap: 10px;
    z-index: 9999;color: black;
}
.product-page-close-filter-section{
    color: white;background-color: black;
    padding: 7px;border-radius: 50%;font-weight: 900;
}




.product-page-selected-category {
    margin-top: 10px;color: rgba(56, 227, 93, 0.598);
}
.product-page-unselected-category{
    margin-top: 10px;
}




.product-page-filter-options{
    margin-top: 15px;
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}
.product-page-filter-options-container{
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    max-height: 70vh;
    width: 100vw; /* Set width to full viewport width */
    max-width: 100vw; /* Prevent exceeding full viewport width */
    background-color: rgb(255, 255, 255); /* Background color */
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    padding: 7px; /* Padding for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    overflow: hidden; /* Hide any overflow content */
    gap: 10px;
    padding-bottom: 10vh;padding-top: 10px;
    overflow-y:scroll ;
}

