/*COMPLETE*/
.productSearchPage-loading-container,
.search-page-no-product-found{
    width: 100vw;height:98vh;
    display: flex;justify-content: center;align-items: center;
}

#productSearchPage-container-top {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;background-color: transparent;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
#productSearchPage-container-top ::-webkit-scrollbar{
    width: 0px;height: 0px;
}
#productSearchPage-footer {
    width: 100vw;
    display: flex;
    color: rgb(0, 0, 0);
    height: 50px;
    background-color: rgb(249, 249, 249);
    position: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 0;
    z-index: 999;
}

#productSearchPage-footer-sortby,
#productSearchPage-footer-filterby {
    display: flex;
    width: 50vw;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

#productSearchPage-footer-filterby {
    display: flex;background-color: rgb(0, 0, 0);
    color: rgb(249, 249, 249);

}




/* No shop found */
.search-shop-no-shop-found{
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    height: 90vh;
}
.search-shop-no-shop-found img{
    width: 80vw;
}







#skleton-page-grid{
    display: flex;
    flex-wrap: wrap;gap: 5px;
    width: 100vw;
    justify-content: center;
    margin-top: 105px;
}
.product-card-skleton {
    color: black;
    width: 46vw;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 4px;margin-top: 10px;
}

.product-card-skleton-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000000;
}
