.user-order-container{
    background-color: rgb(49, 63, 160);
    width: 100vw;height:47px;max-height: 300px;
   color: white;padding: 10px;color: white;
    display: flex;align-items: center;
    position: fixed;top: 0;
}
.user-order-container-left{
   width:calc(100% - 20px);position: fixed;top: 0px;
   padding: 10px;
}
.user-order-container-left-icon{
    color: rgb(238, 239, 243);
 }
.user-order-container-div{
    font-weight: 600;font-size: 19px;
    letter-spacing: 1.1px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.user-order-container-basket{
    background-color: rgb(67, 91, 223);
    display: flex;justify-content: center;align-items: center;
    border-radius: 50%;padding: 20px;color: white;
}
.user-orders-container-order{
    margin-top: 30px;
    padding-bottom: 20vh;
}



.user-orders-list{
    display: flex;flex-direction: column;
    padding-top: 20px;align-items: center;
    gap: 15px;
}