/* Header Container */
.refurbished-page-header-visible,
.refurbished-page-header-hidden {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #001F3F;
    color: #ffffff;
    z-index: 999;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Header Visible/Hidden Styles */
.refurbished-page-header-visible {
    padding: 10px 0;
    height: 93px;
    transform: translateY(0);
}

.refurbished-page-header-hidden {
    padding: 10px 0;
    height: 87px;
    transform: translateY(0);
    transform: translateY(-57px);
}

/* Header Container */
.refurbished-page-header-container {
    padding: 0 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* User Icon */
.refurbished-page-user-icon {
    margin-left: 4px;
    color: #ffffff;
}

/* User Section */
.refurbished-page-header-user-section {
    display: flex;
    height: 52px;
    justify-content: center;align-items: center;gap: 5px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* User Location */
.refurbished-page-user-location {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.refurbished-page-location-label {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* Location Value */
.refurbished-page-location-value {
    display: flex;align-items: center;
    gap: 5px;
    font-size: 1rem;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin-top: -7px;
}

/* Category Icon */
.refurbished-page-category-icon {
    margin-right: 30px;
}

/* Search Section */
.refurbished-page-search-section {
    height: 40px;margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Search Input Container */
.refurbished-page-search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001F3F;
    border: 2px solid #ffffff;
    border-radius: 11px;
    width: 96vw;color: white;
    height: 41px;
}
.refurbished-page-search-input::placeholder{
    color: rgba(255, 255, 255, 0.99);font-size: 1rem;
    height: 100%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Search Icon */
.refurbished-page-search-icon {
    font-size: 29px;
    margin-left: 10px;
    color: #ffffff;
}

/* Search Input */
.refurbished-page-search-input {
    border: none;
    color: #ffffff;
    font-size: 12px;
    padding-left: 10px;
    flex-grow: 1;
    outline: none;
    background-color:#001F3F;
}

/* Autofill Styles for Chrome, Edge, and Safari */
.refurbished-page-search-input:-webkit-autofill {
    background-color: #fff !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    box-shadow: 0 0 0px 1000px #fff inset !important;
}
