.shop-data-progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);z-index: 0;
    padding: 20px;gap: 5px;
}

.shop-data-step {
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    flex: 0.9;
    border: 1.3px solid  rgb(211, 32, 74);
    text-align: center;height: 120px;
}

.shop-data-step-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;font-size: larger;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background: #000000;
    color: #ffffff;
}

.shop-data-step.active .shop-data-step-icon {
    border: 1.3px solid  rgb(211, 32, 74);
    background-color: rgb(245, 241, 242);
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.shop-data-step-title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #0c0c0c;
}

.shop-data-step.active .shop-data-step-title {
    color: rgb(255, 255, 255);
}
.shop-data-step.active{
    background-color:  rgb(211, 32, 74);
    
    box-shadow: rgba(211, 32, 74, 0.495) 0px 8px 24px;
}
/* Step connector */
.shop-data-progress-bar::before {
    content: "";
    top: 20px;
    left: 0;
    right: 0;
    height: 4px;
    background: #ffffff;
}

.shop-data-step:first-child::before,
.shop-data-step:last-child::after {
    content: none;
}