
*{font-family: 'Poppins', sans-serif;}
body ::-webkit-scrollbar{
  width: 0px;height: 0px;
}
.fallback-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;width: 100vw;
  z-index:9999999999;
  background-color: #f9f9f9;

} 
:root {
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
div {
  margin: 0;
  padding: 0;
}

/* Prevent scrollbars and ensure full height */
html, body {
  height: 100%; 
}
body {
  font-family: inherit; /* Inherit font-family from :root */
  background-color: #f9f9f9; /* Background color for the page */
  color: #333; /* Base text color */
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

/* Links styles (optional) */
a {
  color: inherit; /* Remove default link color */
  text-decoration: none; /* Remove underline */
}
a:hover {
  text-decoration: underline;
}
#show-root-loader-img-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#show-root-loader-img {
  width: 60vw;
  max-width: 300px;
  height: auto;
}