.map-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.custom-popup {
    max-width: 200px;
}

.popup-content {
    display: flex;
    align-items: center;
}

.popup-icon {
    color: #1e7ac9;
}

.popup-text {
    margin-left: 5px;
}







.map-back-bar{
    display: flex;height: 57px;
    align-items: center;width: 100vw;
    justify-content: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;font-weight: 800;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;border-radius: 10px;
    z-index: 99999;
}
.map-back-bar-icon{
    position: fixed;left: 12px;
}





.map-address-container {
    display: flex;align-items: center;
    position: fixed;justify-content: center;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.21);
    width: 100vw;
    z-index: 99999;
}
  
  .map-address-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    border-radius: 10px;
    width: calc(95vw - 24px);margin-bottom: 10px;
  }
  
  .map-address-text {
    font-size: 11px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .map-coordinates {
    font-size: 13px;
    color: #777;
  }
  
  .map-confirm-btn {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .map-confirm-btn:hover {
    background-color: #45a049;
  }
  
  .map-confirm-btn:active {
    background-color: #3e8e41;
  }
  
.map-address-icon {
    color: #1e7ac9;
    margin-right: 10px;
}

.map-coordinates {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
.map-address-oval{padding-bottom: 10px;
  display: flex;justify-content: center;align-items: center;
}