.user-notification-div{
    width:100vw;
    height:100vh;
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.user-notification-div-img{
    width:60vw;
}
.user-notification-div-p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}