.user-upload-location-popup{
    display: flex;
    justify-content: center;
    align-items: center;gap: 10px;
    background-color: rgb(219, 24, 24);
    color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.386);
    position: fixed;font-weight: 700;
    bottom: 10px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 50%;
    transform: translateX(-50%);
    width: calc(97% - 20px);
    max-width:600px;
    height: 30px;
    z-index: 1000;
  }